
/* General ---------- */

body{
    margin: 0px;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left,black,grey);


    font-size: 12px;
}

p{
    font-size: 20px;
}



/* Estilos tipograficos ---------- */

.titulos{
    color: white;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 0px 0px;
    font-size: 25px;
    background-color: #2E2725;
}

.precioviejo{
    text-decoration: line-through;
}

.ejemplo{
    font-size:  30px;
}


p.ejemplo{
    font-size: 12px;
}



/* Cabecera ---------- */

.bg-dark{
    /* No me toma el color  */
    background-color: black;
    
}

#botonera img{
    width: 20%;
}


.inicio{
    color: black;
    width: 90%%;
    margin: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
/* .navegacion{ */
    /* estilos */
    /* width: 20%;
    float: right;
    position: relative;
    line-height: 40px;
    display: inline-block;
    list-style: none;
    font-size: 2rem;
    font-weight: 300; */
/* } */

nav ul{
    list-style: none;
    float: right;
}

    div ul li{
        display:  inline-block;
        margin-right: 10px;
    }

        div ul li a{
            color: white;
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 300;
        }

.logo a img{
    /* estilos */
    width: 15%;
    height: vh;
}



/* Estructura ---------- */

.contend{
    /* estilos */
    background-color: white;
}

 .containers{  /* cajas para los productos */
    width: 100%;
    display: flex;
    
}


.caja img{
    width: 220px;
    height: 280px;
}

.caja{
    margin: 15px;
    border-radius: 30px;
}

.caja p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.fondo{
    width: 100%;
    height: 50%;
}

.preciocaja{
    background-color: red;
    padding: 5px;
    text-align: center;
}

.preciocaja2{
    background-color: lightgray;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

/* Pie ---------- */

.pie{
    /* estilos */
    padding:50px 0;
    color:#f0f9ff;
    background: linear-gradient(to left,black,grey);
    text-align: center;


}

.pie h2{
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}

.pie ul{
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
    position: ;
}

.pie ul a{
    color:inherit;
    text-decoration:none;
    opacity:0.6;
}



/* Páginas ---------- */

/* Nosotros */

.nosotros{
    background-color: white;
    display: grid;
    justify-content: center;
    
}

.nosotros h2{
    text-align: center;
} 
/* Nuestras Marcas */

.containers-marcas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.containers-marcas img{
    width: 200px;
    height: 250px;
}

/* Catalogo */

/* Contacto */

.contact{
    /* box-sizing: border-box; */
    background: url(../img/background1.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}

.head{
    background-color: #2E2725;
    border-radius: 5px;
    margin-top: -40px;
    -webkit-box-shadow: -1px 9px 27px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 27px -8px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 27px -8px rgba(0,0,0,0.75);

}

.effect-1{
    border: 0;
    outline: none;
    width: 100%;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}

.effect-1 ~ .Focus-border{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #2E2725;
    transition: 0.4s;
}

.effect-1:Focus.effect-1:Focus ~ .Focus-border{
    width: 100%;
    transition: 0.4s;
    left: 0;
}

.btn1{
    background-color: #2E2725;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 145px;
}

.btn1:hover{
    -webkit-box-shadow: -1px 9px 27px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 27px -8px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 27px -8px rgba(0,0,0,0.75);
}

/* .grupo1{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row:  15px;
  

}

.grupo1 ul{
    margin: 0;
    padding: 8px;
    display: inline-block;

}

.grupo li{
    width: 100px;
    margin: 0;
    padding: ;
}

.grupo2{
    text-align: center;
}


.formulario{
    /* estilos */
/*     
    text-align: center;
    
    
    
    
} */ 


/* Media queria */

@media (max-width:400px){
    div ul{
        display: none;
    }

    .nosotros p{
        font-size: 15px;
        margin: 10px;
        padding: auto;
    }

    .pie .grupo1{
        display: flex;
        flex-direction: column
    }

    .containers{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        
    }

    .containers .caja{
        align-items: center;
    }
}


