body {
  margin: 0px;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, black, grey);
  font-size: 12px;
}

/* Variables ---------- */
/* Mixing ------------ */
/* include media */
/* Estilos tipograficos ---------- */
.titulos {
  color: white;
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin: 0px 0px;
  font-size: 25px;
  background-color: #2E2725;
}
@media screen and (max-width: 1250px) {
  .titulos {
    font-size: 30px;
  }
}
@media screen and (max-width: 750px) {
  .titulos {
    font-size: 25px;
  }
}
@media screen and (max-width: 500px) {
  .titulos {
    font-size: 20px;
  }
}

/* Cabecera ---------- */
.navbar .container-fluid {
  flex-wrap: nowrap;
}

.bg-dark {
  background-color: black;
}

#botonera img {
  width: 20%;
}

nav ul {
  list-style: none;
  float: right;
}
nav ul li {
  display: inline-block;
  margin-right: 10px;
}
nav ul a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
}
nav ul .logo a img {
  width: 15%;
  height: vh;
}

/* Estructura ---------- */
.contend {
  background-color: white;
}
.contend .fondo {
  width: 100%;
  height: 50%;
}

.bg-404 {
  background: url(../img/bg-404.svg);
  background-size: cover;
  height: 100vh;
}

/* Pie ---------- */
.pie {
  /* estilos */
  padding: 50px 0;
  color: #f0f9ff;
  background: linear-gradient(to left, black, grey);
  text-align: center;
}
.pie h2 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}
.pie ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}
.pie a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

/* Nosotros */
.nosotros {
  background-color: white;
  display: grid;
  justify-content: center;
  padding: 5px 0px;
  margin: 2rem;
}
.nosotros p {
  margin: 1rem;
}

.nosotros h2 {
  text-align: center;
}

/* Nuestras Marcas */
.containers-marcas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.containers-marcas img {
  width: 200px;
  height: 250px;
}

/* Catalogo */
/* Contacto */
.contact {
  background: url(../img/background1.png);
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
}

.head {
  background-color: #2E2725;
  border-radius: 5px;
  margin-top: -40px;
  -webkit-box-shadow: -1px 9px 27px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 9px 27px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 9px 27px -8px rgba(0, 0, 0, 0.75);
}

.effect-1 {
  border: 0;
  outline: none;
  width: 100%;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}
.effect-1 ~ .Focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #2E2725;
  transition: 0.4s;
}
.effect-1:Focus.effect-1:Focus ~ .Focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}

.btn1, .btn1-404 {
  background-color: #2E2725;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 145px;
}
.btn1:hover, .btn1-404:hover {
  -webkit-box-shadow: -1px 9px 27px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 9px 27px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 9px 27px -8px rgba(0, 0, 0, 0.75);
}

.btn1-404 {
  background: #F0B823;
  margin: 80vh;
}
.btn1-404:hover {
  -webkit-box-shadow: 10px 10px 5px 0px rgb(196, 147, 22);
  -moz-box-shadow: 10px 10px 5px 0px rgb(196, 147, 22);
  box-shadow: 10px 10px 5px 0px rgb(196, 147, 22);
}

/* Media queria */
@media (max-width: 750px) {
  div ul {
    display: none;
  }
  .nosotros p {
    font-size: 15px;
    margin: 10px;
    padding: auto;
  }
  .contend .containers {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .containers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .containers .caja {
    align-items: center;
  }
  .pie .grupo1 {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  div ul {
    display: none;
  }
  .nosotros p {
    font-size: 15px;
    margin: 10px;
    padding: auto;
  }
  .pie .grupo1 {
    display: flex;
    flex-direction: column;
  }
  .containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .containers .caja {
    align-items: center;
  }
}
/*# sourceMappingURL=style2.css.map */

/*# sourceMappingURL=style2.css.map */
