@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 62.5%;
}

/* nota ver tutoriales de como ordenar CSS o guia de secciones para no perderme */
/* color background  */
/* aiuraaaaa me super enrede con el % los px y rem y que usar */

body { 
    /* amarillo caterpillar #FFC300 y negro cat #2E2725 */
    background-color:  #2E2725;
}

nav{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
    
    padding: 20px 30px;
}

/* Como poner que el logo este mas pequeño  */
.divlogo {
    width: 50%;
    height: vh;
}

.tamañonav{
    max-width: 50%;
    float: right;
    
}

nav

    nav img{
        width: 100%;
        float: left;
    }

    nav ul{
        list-style: none;
        float: right;
    }

        nav ul li{
            display:  inline-block;
            margin-right: 10px;
        }

            nav ul li a{
                color: blue;
                text-decoration: none;
                font-size: 2rem;
                font-weight: 300;
            }

            .encabezado{
                text-align: center;
            }

            .encabezado h1{
                font-size: 30px;
                padding: 10px;
                color: blue;
            }

            .contenido p{
            padding: 10px;
            }

            .pie img{
                border-radius: 10px;
            }

.imagenheader{
    max-width: 100%;
}