body{
    margin: 0px;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left,black,grey);
    font-size: 12px;
}

/* Variables ---------- */

$color-principal: #2E2725;
$color-text: white;
$desktop: 30px;
$tablet:25px;
$mobile: 20px;


/* Mixing ------------ */
@mixin desktop {
    @media screen and (max-width:1250px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width:750px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width:500px) {
        @content;
    }
}
/* include media */


/* Estilos tipograficos ---------- */

.titulos{
    color: $color-text;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 0px 0px;
    font-size: 25px;
    background-color: $color-principal;
    
    @include desktop {
         font-size: $desktop;
    }

    @include tablet {
        font-size: $tablet;
    }

    @include mobile {
        font-size: $mobile;
    }

    

}

/* Cabecera ---------- */

.navbar{
    .container-fluid{
        flex-wrap: nowrap;
    }
}

.bg-dark{
    background-color: black;
    
}

#botonera img{
    width: 20%;
}


nav ul{
    list-style: none;
    float: right;

        li{
        display:  inline-block;
        margin-right: 10px;
    }
        a{
            color: $color-text;
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 300;
        }

        .logo{

            a{

                img{
                    width: 15%;
                    height: vh;
                    }
                }
            }
}

/* Estructura ---------- */
.contend{
    background-color: $color-text;

    .fondo{
    width: 100%;
    height: 50%;
    }
}

.bg-404{
    background: url(../img/bg-404.svg);
    background-size: cover;
    height: 100vh;
}
/* Pie ---------- */

.pie{
    /* estilos */
    padding:50px 0;
    color:#f0f9ff;
    background: linear-gradient(to left,black,grey);
    text-align: center;

        h2{
        margin-top:0;
        margin-bottom:12px;
        font-weight:bold;
        font-size:16px;
        }

        ul{
        padding:0;
        list-style:none;
        line-height:1.6;
        font-size:14px;
        margin-bottom:0;
    }

        a{
        color:inherit;
        text-decoration:none;
        opacity:0.6;
        }
}

/* Nosotros */

.nosotros{
    background-color: $color-text;
    display: grid;
    justify-content: center;
    padding: 5px 0px;
    margin: 2rem;
    p{
        margin: 1rem;
    }
}

.nosotros h2{
    text-align: center;
} 
/* Nuestras Marcas */

.containers-marcas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.containers-marcas img{
    width: 200px;
    height: 250px;
}

/* Catalogo */

/* Contacto */

.contact{
    
    background: url(../img/background1.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}

.head{
    background-color: #2E2725;
    border-radius: 5px;
    margin-top: -40px;
    -webkit-box-shadow: -1px 9px 27px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 27px -8px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 27px -8px rgba(0,0,0,0.75);

}

.effect-1 {
	border: 0;
	outline: none;
	width: 100%;
	padding: 7px 0;
	border-bottom: 1px solid #ccc;
	~ {
		.Focus-border {
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 0;
			height: 2px;
			background-color: #2E2725;
			transition: 0.4s;
		}
	}
	&:Focus.effect-1 {
		&:Focus {
			~ {
				.Focus-border {
					width: 100%;
					transition: 0.4s;
					left: 0;
				}
			}
		}
	}
}

.btn1 {
	background-color: #2E2725;
	color: $color-text;
	outline: none;
	border: none;
	border-radius: 5px;
	height: 40px;
	width: 145px;
	&:hover {
		-webkit-box-shadow: -1px 9px 27px -8px rgba(0,0,0,0.75);
		-moz-box-shadow: -1px 9px 27px -8px rgba(0,0,0,0.75);
		box-shadow: -1px 9px 27px -8px rgba(0,0,0,0.75);
	}
}

.btn1-404{
    @extend .btn1;
    background: #F0B823;
    margin: 80vh;
    &:hover {
        -webkit-box-shadow: 10px 10px 5px 0px rgba(196,147,22,1);
        -moz-box-shadow: 10px 10px 5px 0px rgba(196,147,22,1);
        box-shadow: 10px 10px 5px 0px rgba(196,147,22,1);
        }
}

/* Media queria */


@media (max-width:750px){
        div ul{
            display: none;
        }
    
        .nosotros p{
            font-size: 15px;
            margin: 10px;
            padding: auto;
        }
        .contend .containers {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
        
        .containers{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .containers .caja{
            align-items: center;
        }

        .pie .grupo1{
            display: flex;
            flex-direction: column;
        }
    }
    
    


@media (max-width:400px){
    div ul{
        display: none;
    }

    .nosotros p{
        font-size: 15px;
        margin: 10px;
        padding: auto;
    }

    .pie .grupo1{
        display: flex;
        flex-direction: column
    }

    .containers{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .containers .caja{
        align-items: center;
    }
}




/*# sourceMappingURL=style2.css.map */


