<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FerreMedina</title>
	<link rel="shortcut icon" href="../img/favicon.png">
	<link rel="stylesheet" href="../css/style2.css">
	
</head>
<!-- termina head -->
<body>
	<header>
		<header>
			<nav class="inicio">
				<div class="logo">
					<!-- img se esta usando junto con a para crear vinculo logo al inicio -->
					<a href="../index.html"><img src="../img/fondo2.png" alt="logo FerreMedina ferreteria guantes martillos destornilladores y materiales de construion"></a>
				</div>
				<div>
				<ul>
					<li><a href="nosotros.html">Nosotros</a></li>
					<li><a href="nuestras-marcas.html">Nuestras Marcas</a></li>
					<li><a href="catalogo.html">Catalogo</a></li>
					<li><a href="contacto.html#contacto">Contacto</a></li>
				</ul>
				</div>
				</nav>
		<!-- termina nav -->
	</header>
	<!-- termina header -->
	<main class="contenedor">
		<img class="fondo" src="../img/background1.png" alt="encabezado de nosotros venta de ferreteria y materiales de construccion">
		<section>
			<div class="titulos">Nuestras Marcas</div>
			<div class="container-marcas">
				<div class="caja caja1"><img src="../img/marcas/3M.jpg" alt=""></div>
				<div class="caja caja2"><img src="../img/marcas/black+decker.png" alt=""></div>
				<div class="caja caja3"><img src="../img/marcas/dewalt.png" alt=""></div>
				<div class="caja caja4"><img src="../img/marcas/makita.png" alt=""></div>
				<div class="caja caja5"><img src="../img/marcas/truper.png" alt=""></div>
			</div>
		</section>
	</main>
	<footer class="pie">
		<div class="grupo1">
			<box>
				<h2>Encuentranos</h2>
                        <ul>
                            <li><a href="#">Direccion</a>Edificio Isabelica, la sector 10 bloque 88, Avenida Prolongación Michelena, Valencia 2003, Carabobo, Venezuela</li>
                            <li><a href="#">Horario Atenciòn</a>09:00am a 12:00 y 14:00 a 19:00</li>
                            <li><a href="#">Telf</a>(+58) 424-4425769</li>
                        </ul>
			</box>
			<box>
				<h2>Presupuesto</h2>
                        <ul>
                            <li><a href="#">Email</a>contacto@contacto.com</li>
                        </ul>
			</box>
			<box>
				<h2>Enlaces Rapidos</h2>
					<div>
                        <ul>
							<li><a href="nosotros.html">Nosotros</a></li>
							<li><a href="nuestras-marcas.html">Nuestras Marcas</a></li>
							<li><a href="catalogo.html">Catalogo</a></li>
							<li><a href="contacto.html#contacto">Contacto</a></li>
                        </ul>
						</div>
			</box>
			
		</div>
		<div class="grupo2">
			<a href="https://www.facebook.com" target="_blank">
					<img src="../img/facebook.png" alt="link directo al facebook del local"></a>

			<a href="https://www.whatsapp.com" target="_blank">>
					<img src="../img/whatsapp.png" alt="link directo al whatsapp del local"></a>

			<a href="https://www.instagram.com/" target="_blank">>
					<img src="../img/instagram.png" alt="link directo al instagram del local"></a>
		</div>
	</footer>
</body>
<!-- termina body -->
</html>