<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="Pagina del sitio web de Ferremedina en el que se muestran las marcas con las que trabajamos. Tales como: DeWalt, Black+Decker,3M,Truper entre otras">
	<title>Nuestras-marcas</title>
	<link rel="shortcut icon" href="../img/favicon.png">
	<!----------------- BOOTSTRAP ----------------------->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<!------------------- MI CSS------------------------->
	<link rel="stylesheet" href="../css/style2.css">
	
</head>
<!-- termina head -->
<body>
	<header>
	</nav>
	<nav class="navbar navbar-expand-lg bg-dark" id="botonera">
		<div class="container-fluid">
			<a class="navbar-brand" href="../index.html">
			<img src="../img/fondo2.png" alt="logo FerreMedina en color negro, con bordes amarillos y un martillo negro de en fondo todo unido">
			</a>
			<!-- Boton Hamburguesa (No tocar) -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<!-- Termina boton hamburguesa -->
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link fs-3 text-white" href="nosotros.html">Nosotros</a>
					</li>
					<li class="nav-item">
						<a class="nav-link fs-3 text-white" href="nuestras-marcas.html">Nuestras Marcas</a>
					</li>
					<li class="nav-item">
						<a class="nav-link fs-3 text-white" href="catalogo.html">Catalogo</a>
					</li>
					<li class="nav-item">
						<a class="nav-link fs-3 text-white" href="contacto.html">Contacto</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
<!-- termina nav -->
</header>
	<!-- termina header -->
	<main class="contend">
		<img class="fondo" src="../img/background1.png" alt="imagen heroe de encabezado de la ferreteria, donde encontraras una regla de nivel, un metro de medir, un cuchillo cartonero, brocha en color y en dibujo a tipo papel">
		<div class="titulos">Liquidaciòn</div>
		<section class="container py-4">
			<div class="row g-3">
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card h-100">
						<img src="../img/marcas/3M.jpg" alt="de la abreviación Minnesota Mining and Manufacturing Company; es una compañía multinacional estadounidense dedicada a investigar, desarrollar, manufacturar y comercializar tecnologías diversificadas, ofreciendo productos y servicios en diversas áreas tales como equipamiento industrial.">
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card h-100">
						<img src="../img/marcas/black+decker.png" alt="es el productor de herramientas eléctricas y accesorios más grande del mundo. Sus productos en la gama del pequeño electrodoméstico es líder en Estados Unidos, y en la indústria global del pequeño aparato electrodoméstico.">
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card h-100">
						<img src="../img/marcas/dewalt.png" alt="DeWalt es una marca de herramientas motorizadas para las industrias de la construcción y la carpintería. La compañía inicial fue puesta en marcha en 1924 por Raymond E. DeWalt, el inventor de la sierra de brazo radial.">
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card h-100">
						<img class="my-auto d-block" src="../img/marcas/makita.png" alt=" La Corporación Makita se fundó en 1915 como una compañía de venta y reparación de motores eléctricos. Hoy en día, es una marca global en más de 40 países, Makita es líder en innovación en la manufactura de los mejores productos en su clase a lo largo de 10 plantas que operan en 8 países">
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card h-100">
						<img src="../img/marcas/truper.png" alt="Truper son los fabricantes y distribuidores de la marca de herramientas mas grande de Latinoamerica y tiene actualmente en sus catálogos más de 11,000 productos y están presentes en miles de ferreterías, tiendas y negocios de todos los tamaños.">
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card h-100">
						<img src="../img/marcas/black+decker.png" alt="es el productor de herramientas eléctricas y accesorios más grande del mundo. Sus productos en la gama del pequeño electrodoméstico es líder en Estados Unidos, y en la indústria global del pequeño aparato electrodoméstico.">
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card h-100">
						<img src="../img/marcas/3M.jpg" alt="de la abreviación Minnesota Mining and Manufacturing Company; es una compañía multinacional estadounidense dedicada a investigar, desarrollar, manufacturar y comercializar tecnologías diversificadas, ofreciendo productos y servicios en diversas áreas tales como equipamiento industrial.">
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card h-100">
						<img src="../img/marcas/black+decker.png" alt="es el productor de herramientas eléctricas y accesorios más grande del mundo. Sus productos en la gama del pequeño electrodoméstico es líder en Estados Unidos, y en la indústria global del pequeño aparato electrodoméstico.">
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer class="pie">
		<div class="grupo1">
			<box>
				<h2>Encuentranos</h2>
				<ul>
					<li><a href="#">Direccion</a>Edificio Isabelica, la sector 10 bloque 88, Avenida Prolongación Michelena, Valencia 2003, Carabobo, Venezuela</li>
					<li><a href="#">Horario Atenciòn</a>09:00am a 12:00 y 14:00 a 19:00</li>
					<li><a href="#">Telf</a>(+58) 424-4425769</li>
				</ul>
			</box>
			<box>
				<h2>Presupuesto</h2>
				<ul>
					<li><a href="#">Email</a>contacto@contacto.com</li>
				</ul>
			</box>
			<box>
				<h2>Enlaces Rapidos</h2>
				<div>
					<ul>
						<li><a href="nosotros.html">Nosotros</a></li>
						<li><a href="nuestras-marcas.html">Nuestras Marcas</a></li>
						<li><a href="catalogo.html">Catalogo</a></li>
						<li><a href="contacto.html#contacto">Contacto</a></li>
					</ul>
				</div>
			</box>
		</div>
		<div class="grupo2">
			<a href="https://www.facebook.com" target="_blank">
				<img src="../img/facebook.png" alt="imagen con link directo al facebook del local">
			</a>
			<a href="https://www.whatsapp.com" target="_blank">
				<img src="../img/whatsapp.png" alt="imagen con link directo al whatsapp del local">
			</a>
			<a href="https://www.instagram.com/" target="_blank">
				<img src="../img/instagram.png" alt="imagen con link directo al instagram del local">
			</a>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	</footer>
	</body>
<!-- termina body -->
</html>